/*
 *==============================================
 * Table Of Content
 *==============================================
 * => Variables
 * 0. => Basic
 * 1. => Header 
 * 2. => Content 
 */

/* Variables */
:root {
    --A: #232222;
    --B: #232121;
    --C: #1b1b1b;
    --BarA: #87ebcc;
    --BarB: #963fe8;
}

/* 0. Basic */
html,
body {
    height: 100%;
    color: white;
    margin: 0;
    padding: 0;
    background-color: var(--A);
}
body {
    font-family: "Open Sans", sans-serif;
}
.entire-wrapper {
    padding: 21px 34px 34px 34px;
    background-color: var(--A);
    position: relative;
}

/* 1. Header */
.cross-header {
    display: flex;
    justify-content: space-between;
}
.cross-logo {
    margin-top: 19px;
    height: 40px;
}
.cross-user-control {
    border-right: #87ebcc 4px solid;
    background-color: var(--C);
    margin-top: 7px;
    min-height: 65px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 30px;
}
.cross-user-avatar {
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.login-btn {
    background-color: #9640e9;
    font-size: 26px;
    color: #fff;
    width: 280px;
    height: 60px;
    margin-top: 200px;
    padding-top: 8px;
}

.login-btn:hover {
    background-color: #7e1fd1;
    color: #fff;
}

/* 2. Content */
.cross-wrapper {
    margin: 55px 0 0 0;
    padding: 0;
    display: flex;
    min-height: 660px;
}
input[type="radio"] {
    width: 1rem;
    height: 1rem;
    background-color: red;
    border: none;
    padding: 2px;
}
input[type="radio"]:hover {
    background-color: blue;
    border: none;
    padding: 10px;
}
.right-col {
    background-color: var(--C);
    padding: 18px 10px 10px 10px;
    border-radius: 7px;
    width: 23.6vw;
}
.top-right-row {
    background-color: var(--B);
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    border-radius: 7px;
    padding: 35px 10px 30px 10px;
    min-height: 266px;
}
.bottom-right-row {
    background-color: var(--B);
    padding: 35px 10px 30px 10px;
    min-height: 286px;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}
.disclaimer {
    margin-top: 15px;
    color: #97969e;
    /* line-height: 1px; */
    /* word-wrap: break-word; overflow-wrap: break-word; line-break: strict; */
    font-size: 12px;
}

.center-col {
    /* padding: 0 10px 10px 10px; */
    width: 40.4vw;
    margin: 0 32px;
}
.top-center-rows {
    background-color: var(--C);
    padding: 18px 10px 10px 10px;
    min-height: 200px;
    border-radius: 7px;
}
.top-center-row {
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
}

.top-center-row-child-one {
    background-color: var(--B);
    padding: 15px 10px 15px 10px;
    min-height: 128px;
    width: 48%;
    border-radius: 7px;
}
.top-center-row-child-two {
    padding: 15px 10px 15px 10px;
    background-color: var(--B);
    min-height: 128px;
    width: 48%;
    border-radius: 7px;
}

.bottom-center-row {
    margin-top: 18px;
    padding: 18px 10px 10px 10px;
    background-color: var(--C);
    min-height: 530px;
    border-radius: 7px;
}

.left-col {
    padding: 18px 10px 10px 10px;
    background-color: var(--C);
    width: 32vw;
    border-radius: 7px;
    z-index: 2000;
}
.left-col-child {
}
.left-col-list {
    height: 13rem;
    border-radius: 7px;
    background-color: #232121;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 20px;
    margin: 5px 5px 0px 5px;
    border-radius: 7px;
}

.li-left-border-one {
    list-style: none;
    border-left: #87ebcc 4px solid;
    border-radius: 5px;
    padding: 5px 15px;
}
.li-left-border-two {
    list-style: none;
    border-left: #9441e7 4px solid;
    border-radius: 5px;
    padding: 5px 15px;
}
.rangeval-holder {
    margin: 0 auto;
    margin-bottom: 6px;
    width: 50px;
    list-style: none;
    background-color: var(--A);
    padding: 5px 15px;
    border-radius: 5px;
}
.basic-select {
    display: block;
    color: #fff;
    line-height: 1.3;
    padding: 6px 14px 5px 8px;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #1e1736;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #302d2d;
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
      for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
      
    */
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
        linear-gradient(to bottom, #302d2d 0%, #302d2d 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right 0.7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: 0.65em auto, 100%;
}
.basic-select::-ms-expand {
    display: none;
}
.basic-select:hover {
    border-color: #888;
    border-radius: 7px;
}
.basic-select:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 1px rgba(59, 153, 252, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    border-radius: 7px;
    outline: none;
}
.basic-select option {
    border-radius: 7px;
    font-weight: normal;
}
.select-css:disabled,
.select-css[aria-disabled="true"] {
    color: graytext;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.select-css:disabled:hover,
.select-css[aria-disabled="true"] {
    border-color: #aaa;
}

/* 
cross-header
cross-logo
cross-user-control
cross-user-avatar
cross-wrapper
right-col
top-right-row
bottom-right-row
center-col
top-center-row
bottom-center-row
left-col
*/
.premium-gb-bar,
.basic-gb-bar {
    width: 100%;
    height: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.premium-gb-bar {
    border: 1px solid var(--BarB);
    background: linear-gradient(to right, var(--BarB) 20%, white 0%);
}

.basic-gb-bar {
    border: 1px solid var(--BarB);
    background: linear-gradient(to right, var(--BarB) 40%, white 0%);
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.cross-bars {
    /* background-color: red;
    width: 100px;
    height: 10px;
    border-radius: 25px;
    float: right; */
    height: 14px;
    border-radius: 32px;
    /* border: 1px solid var(--BarA); */
    position: absolute;
    background-color: var(--BarA);
    /* z-index: 1; */
    transform: rotate(45deg);
    transform-origin: 75% 400%;
}
.z-index {
    z-index: 1000;
}
.cross-bar-1 {
    right: 0;
    top: 40px;
    width: 34%;
    z-index: 0;
}
.cross-bar-2 {
    right: 0;
    top: 41px;
    width: 100%;
    z-index: 0;
}
.cross-bar-3 {
    right: 0;
    top: 140px;
    width: 30%;
    z-index: 0;
}
.cross-body-bar-1 {
    right: 57vh;
    top: -1vh;
    width: 7%;
    z-index: 0;
    background-color: #963fe8;
}
.cross-body-bar-2 {
    right: 45vh;
    top: 0vh;
    width: 45%;
    z-index: 0;
}
.bg-purp {
    background-color: #963fe8;
}
.range {
    padding: 0;
    margin: 0;
}
.range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    border-radius: 20px;
    background: #232222;
    cursor: pointer;
    /* border: 4px solid #333; */
    /* box-shadow: -407px 0 0 400px #44d849; */
}

/* .range {
    width: 400px;
    height: 15px;
    -webkit-appearance: none;
    background: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #44d849;
  }
  .range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #44d849;
  }
   */

   .StripeElement {
    box-sizing: border-box;

    height: 40px;
    width: 100%;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}